@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: 'Lexend', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 640px;
    height: 427px;
    background-image: url(images/bgimage.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 400px;
    height: 250px;
    background-color:rgba(45, 1, 1, 0.63);
    color: #fff;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 20px #0e0000;
}

h2 {
    letter-spacing: 1.5px;
    margin: 1rem 0;
}

.countdown-box{
    display: flex;
    gap: 2rem;
    font-size: 12px;
    border: 1px solid #fff;
    padding: 1rem;
}


.time {
    text-align: center;
}

.big-text {
    font-size: 3rem;
    font-weight: 600;
}